{% extends 'app/base.html' %}
{% load static %}
{% block content%}

<div class="jaza">
<form method="POST">
	<h2>Signin Form</h2>
	{% csrf_token %}
	<label for="firstname">Firstname:</label><br>
          <input type="text" class="form-control" name="firstname"><br><br>

          <label for="lastname">lastname:</label><br>
          <input type="text" class="form-control" name="lastname"><br><br>

          <label for="username">email:</label><br>
          <input type="email" class="form-control" name="email"><br><br>

          <label for="username">Username:</label><br>
          <input type="text" class="form-control" name="username"><br><br>

          <label for="password">password:</label><br>
          <input type="password" class="form-control" name="password1"><br><br>

          <label for="password">conferm password:</label><br>
          <input type="password" class="form-control" name="password2"><br><br>

	<p>Already registered?,<a href="{% url 'signin' %}"> please signin</a></p>
	<button class="btn btn-secondary">Submit</button>
</form>
</div>
{% endblock %}